[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sklearn = "*"
pydub = "*"
pandas = "*"
opensmile = "*"
pyyaml = "*"
tqdm = "*"
ipykernel = "*"
ipywidgets = "*"
jupyterlab-widgets = "*"
essentia = "*"
watermark = "*"
pandas-profiling = "*"
plotly-express = "*"
hdbscan = "*"
clusteval = "*"
umap-learn = "*"
lightgbm = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
